<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.css">
  <title>Նոթատետր</title>
</head>
<body>
<div class="container">
  <div class="jumbotron">
    <h1>Նոթատետր</h1>
    <button type="button" class="btn btn-primary" onclick="location.href='/register';">Սկսել</button>
    <button type="button" class="btn btn-secondary" onclick="location.href='/login';">Մուտք</button>
  </div>
  <div class="content">
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta necessitatibus minus reprehenderit a architecto consequuntur beatae quibusdam aliquam? Fugiat repellendus provident dolorem praesentium atque culpa eius, similique molestias repudiandae a!</div>
    <div>Vitae voluptates natus tempore assumenda deserunt mollitia reiciendis aliquam sit asperiores. Perspiciatis possimus consectetur, inventore cumque doloremque voluptatibus tempora accusamus esse incidunt aspernatur consequatur dolorem, atque illum eligendi maxime dolores!</div>
    <div>Quibusdam id vel voluptatem soluta, facere illo quasi eveniet iusto commodi, animi quia? Rem aliquid explicabo tempore perferendis blanditiis unde, laborum, praesentium quia. Non incidunt, ratione, enim est quia at.</div>
    <div>Eius corporis facere illo voluptatibus cupiditate accusamus iure rem. Voluptatum id aperiam quibusdam quos tempore minus illo, illum, dolor dolore. Alias consequuntur voluptas ullam libero, sunt molestias soluta nulla, dolores.</div>
    <div>Tempore accusamus, laboriosam repudiandae ipsam magnam illo culpa placeat dolore, perspiciatis numquam nulla ad molestiae obcaecati accusantium consectetur, quo temporibus harum. Unde illo neque esse repellat, repudiandae itaque nam reprehenderit.</div>
    <div>Maxime totam qui voluptatum, animi molestias facere, nesciunt laboriosam quis harum deleniti fugiat, cumque corporis debitis assumenda, sapiente veritatis molestiae cupiditate officia architecto autem nam. Mollitia cum sapiente laborum inventore.</div>
    <div>Minima accusamus sed velit eum, placeat saepe reprehenderit perspiciatis rem dolorem fugit eveniet. Non in, culpa cum voluptate fuga adipisci explicabo, aperiam autem consequuntur soluta voluptatibus repudiandae distinctio, commodi repellat.</div>
    <div>Eius, voluptatem aspernatur fugiat quidem, delectus ullam, nisi aliquam mollitia architecto quos molestiae itaque magnam quia! Error ab illo, amet deserunt alias iusto blanditiis numquam aut, vero nesciunt facilis eos.</div>
    <div>Magni nobis est illum, facere, vel doloribus provident aliquid quo, accusantium exercitationem nemo quam voluptate repellat qui nisi nesciunt debitis temporibus facilis quidem doloremque minus eius atque quos. Voluptas, qui.</div>
    <div>Incidunt blanditiis quos laboriosam natus modi quis! Dolorem velit vel quam id, voluptatem illo laboriosam provident saepe voluptas ratione non placeat ipsam nemo labore minus totam accusantium consequuntur deserunt cupiditate.</div>
    <div>Doloremque, ratione nobis quia optio totam officiis. Delectus soluta veritatis maiores eaque, fuga, consequuntur sit nulla ullam aliquid, harum vitae corporis quis magni asperiores culpa. Laborum aperiam odio ipsam eius.</div>
    <div>Molestias a ad magni neque dolore, dignissimos, omnis laboriosam id excepturi sunt libero nihil numquam quos provident alias velit harum deserunt commodi. Corporis vero nobis dolorum, soluta reprehenderit facilis quisquam?</div>
    <div>Ullam similique officia, perspiciatis quis omnis minima tenetur quasi quaerat! Vitae suscipit fugiat ad, dolorum dignissimos in ratione inventore vero aliquid, reiciendis, ea eveniet sapiente adipisci mollitia. Quae, laborum, esse.</div>
    <div>Tempore iure temporibus illum libero fugiat perferendis doloribus suscipit incidunt nisi voluptas provident facilis praesentium, dolores debitis qui beatae non cupiditate sed quo quia dolorum facere. Eligendi provident qui ratione.</div>
    <div>Consectetur illo expedita esse. Laborum eum debitis mollitia, laboriosam? Maxime possimus amet iure nihil! Voluptatibus error, qui veritatis laborum, asperiores delectus aliquam eos quo saepe ad earum mollitia, assumenda similique.</div>
  </div>
</div>
</body>
</html>
